@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

html {
  height: 100%;
}

/* Header */
.header {
  height: 70px;
  background: #fff;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 35px;
  color: #00277e;
  font-weight: bold;
  margin-left: 35px;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  font-size: 20px;
  cursor: #00277e;
  margin-right: 35px;
}

/* img */
.eyecatch {
  width: 100%;
  position: relative;
}

.eyecatch-img {
  width: 50%;
  position: absolute;
  padding: 50px 0;
  right: 0;
  z-index: 100;
}

.eyecatch-text {
  font-size: 70px;
  color: #00277e;
  position: absolute;
  margin-top: 25%;
}

.color-box {
  height: 200px;
  width: 75%;
  background: #000B62;
  position: absolute;
  margin-top: 29%;
}

@media screen and (max-width: 768px){
  #hamburger {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    top: 15px;
    right: 20px;
    transition: 0.4s;
    width: 40px;
  }

  #hamburger span {
    position: absolute;
    left: 2px;
    display: block;
    width: 35px;
    height: 2px;
    background-color: #000;
    transition: 0.5s;
  }

  #hamburger span:nth-of-type(1) {
    top: 10px; 
  }

  #hamburger span:nth-of-type(2) {
    top: 20px; 
  }

  #hamburger span:nth-of-type(3) {
    top: 30px; 
  }

  .header-nav {
    display: none; 
  }
  
  .eyecatch {
    width: 100%;
  }

  .eyecatch-img {
    width: 90%;
  }

  .eyecatch-text {
    font-size: 55px;
    margin: 90% 5%;
  }

  .color-box {
    width: 90%;
    bottom: 0 auto;
  }
}  